---
import PlotFigure from "../components/PlotFigure.astro";
import Layout from "../layouts/Layout.astro";
import * as Plot from "@observablehq/plot";
import penguins from "../assets/penguins.json";
---

<Layout>
  <h1 class="text-2xl">Test Astro et Plot (Observablehq)</h1>
  <PlotFigure
    options={{
      marks: [
        Plot.dot(penguins, {
          x: "culmen_length_mm",
          y: "culmen_depth_mm",
          stroke: "species",
        }),
      ],
    }}
  />

<button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
  <a href="/species/Adelie">Voir les manchots Adelie</a>
</button>
<button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">
  <a href="/species/Chinstrap">Voir les manchots Chinstrap</a>
</button>
<button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded
">
  <a href="/species/Gentoo">Voir les manchots Gentoo</a>
</button>
</Layout>
